body {
  font-family: "Audiowide", serif;
  font-size: 20px;
}

/* FOOTER START */
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #191635;
  text-align: center;
  color: white;
}
.footer > a {
  color: #ff3980;
  text-decoration: none;
}
.footer > a:hover {
  text-decoration: underline;
}
/* FOOTER END */

.mentors-intro {
  min-height: 90vh;
  min-height: 500px;
  background-color: #191635;
  color: white;
  text-align: center;
  padding: 120px;
  font-size: 20px;
}

.intro-inner {
  max-width: 400px;
}

.mentors-info {
  padding: 100px;
  padding-bottom: 130px;
  color: #191635;
  background-color: white;
}

.link {
  color: #ff3980;
}
