@use 'variables.scss' as v;
@use 'helpers.scss' as h;

.social-container {
    @include h.center();
    flex-direction: column;
    background-color: v.$colorDark;
    color: v.$colorWhite;
    gap: 40px;
    padding-bottom: 30px;
}

.social-container a {
    text-decoration: none;
}

.social-heading {
    font-size: 30px;
}

.social-image {
    width: 80px;
    height: 80px;
    fill: v.$colorWhite;
}